/* Estilos del componente Donwload. */
.downView {
  width: 100%;
  height: 140vh;
  background: var(--cl-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.svgTop {
  width: 100%;
  position: absolute;
  top: 0;
}
.svgBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.title_2 {
  font-family: var(--font-1);
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
  color: var(--cl-3);
}
.subtitle {
  font-family: var(--font-1);
  font-size: 15px;
  text-align: center;
  padding: 40px 20px 10px 20px;
  color: var(--cl-3);
}
.btnDown {
  width: 35px;
  height: 35px;
  margin: 30px 10px;
  background: var(--cl-3);
  border-radius: 50%;
  border: none;
}
.imgIcon {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 576px) {
  .downView{
    height: 35rem;
  }
  .title_2{
    font-size: 30px !important;
  }
  .subtitle{
    font-size: 13px !important;
    line-height: 1.2rem;
  }
  }
  @media only screen and (max-width: 834px) {
    .downView{
      height: 50rem;
    }
    .title_2{
      font-size: 40px !important;
    }
    .subtitle{
      font-size: 15px !important;
      line-height: 1.2rem;
    }
  }